<h3>Listado de Personajes Fuerte</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {
        @if( character.power > 500 ) {
          <li>
            <span>{{ idx + 1 }} - {{ character.name }}</span>
            <!-- Lo sustituimos por el ngClass -->
            <!-- [ngClass]="powerClasses()" -->
            <!-- modificador de clases -->
            <strong
              [class.text-danger]="character.power > 9000"
              [class.text-primary]="character.power < 9000"
            > ({{ character.power }})</strong>
          </li>
        } @else {
          <li><strong>El personaje no tiene la suficiente fuerza para esta pelea.</strong></li>
        }
      }
    </ul>
